<%- include("partials/header") -%>
<h1>Contact</h1>
<p>
  <%= contact %><br />
  <a href="https://github.com/aryan31200">Github</a><br />
  <a href="linkedin.com/in/aryan-g-614293150">LinkedIn</a>
</p>

<%- include("partials/footer") -%>
